{
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "overrides": [
    {
      "files": "content/blog/*.mdx",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
